:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --primary-black-color: #2f303a;
}
%current {
    color: var(--accent-color);
        position: relative;
        padding-top: 2px;
    
        &::after {
            content: "";
            display: inline-block;
            width: 100%;
            height: 4px;
            left: 0;
            bottom: -2px;
            background-color: var(--accent-color);
            border-radius: 2px;
            position: absolute;
        }
}