.excellence__list {
  
  padding-left: 0px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    
    padding-left: 15px;
    margin: 0;
    justify-content: center;
    flex-wrap: nowrap;
  }
}

.excellence__title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  
  
@media screen and (min-width: 768px) {
      text-align: left;
  }
  
}

.excellence__text {
  margin-top: 0;
  margin-bottom: 0;
  

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.excellence__item {
  min-width: 200px;

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  // @media screen and (min-width: 480px) {
  //   width: 450px;
  //   }
  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    gap: 30px;
  }
}

.excellence__item::before {
  content: "";
  display: block;
  height: 120px;
  border-radius: 4px;

  background-color: rgba(245, 244, 250, 1);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
.icon-antenna::before {
  background-image: url("../img/antenna.svg");
  background-size: 70px 70px;
}
.icon-clock::before {
  background-image: url("../img/clock.svg");
  background-size: 70px 70px;
}
.icon-diagram::before {
  background-image: url("../img/diagram.svg");
  background-size: 70px 70px;
}
.icon-astronaut::before {
  background-image: url("../img/astronaut.svg");
  background-size: 70px 70px;
}
