.hero {
    background-color: #c4c4c4;
    text-align: center;
    padding: 0;
}

.section.hero {
    height: 600px;
}

.hero__overlay {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../img/bgrhero.jpeg");

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__container {
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero__title {
    margin-top: 0;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;

    color: var(--primary-white-color);
    text-transform: uppercase;
    font-weight: 900;
    // font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    max-width: 696px;

    @media screen and (min-width: 1200px) {
            font-size: calc(1rem + 2vw);
    
        }
}