.menu {
    
    display: flex;

    @media screen and (max-width:767px) {
        display: none;
    }
    @media screen and (min-width: 768px) {
        
        align-items: center;
        justify-content: space-between;
    }

}

.menu-toggle {
    display: inline-flex;
    margin: 0;

    padding: 0;
    border: none;
    background-color: transparent;

    fill: var(--title-text-color);
    
        &:hover,
        &:focus {
            fill: var(--accent-color);
        }

    @media screen and (min-width: 768px) {
        display: none;
    }

}


.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: var(--primary-white-color);
    z-index: 999;
    overflow: auto;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}
@media screen and (min-width: 768px) {
    .menu-container {
        display: none;
    }
    
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 10px;
    right: 15px;
    
    fill: var(--title-text-color);
    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}
.menu-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.menu-site {
    display: block;
    padding: 0;
    // margin-bottom: 302px;
}

.menu-site_list {
    &:not(:last-child) {
            margin-bottom: 32px;
        }
}
.menu-site_link {
    text-decoration: none;
    font-family:  Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--title-text-color);

    &:hover,
    &:focus {
            color: var(--accent-color);
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

    @media screen and(max-width: 420px) {
            font-size: calc(34px + 6 * (100vw / 1200));
            
    }
}
.menu-site_link.current {

    &:hover,
    &:focus {
        @extend %current;
            color: var(--accent-color);
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}


.menu-contacts {
    padding: 0;
    margin-bottom: 64px;
}

.menu-contacts_list {
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}
.menu-contacts_phone {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    margin-bottom: 32px;

    @media screen and (max-width: 420px) {
        font-size: calc(22px + 12 * (100vw / 1200));
    }
}
.menu-contacts_tel {
    text-decoration: none;
}
.menu-contacts_email {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.menu-social {
    display: inline-flex;
    padding: 0;
    margin: 0 43px 0 0;
    
}
.menu-social_link {
    
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: var(--accent-color);

    @media screen and(max-width: 450px) {
        font-size: calc(12px + 6 * (100vw / 1200));
    }
    
}
.menu-social_item {
    &:not(:last-child){
        margin-right: 10px;
    }
    
}

.line {
    color: rgba(33, 33, 33, 0.2);
    margin-left: 10px;
}
