html {
    box-sizing: border-box;
}

*,
* ::before,
* ::after {
    box-sizing: inherit;
}

header {
    border-bottom: 1px solid #ececec;
    position: relative;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
}
body.modal-open {
    overflow: hidden;
}
// body.mobil-menu-open {
//     overflow-y: noscroll;
// }

h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}