.container {
    margin-right: auto;
    margin-left: auto;
    
    padding-right: 15px;
    padding-left: 15px;

    @media screen and (min-width: 1200px) {
        width: 1200px;
        margin-right: auto;
        margin-left: auto;
    } 
}

@media screen and (max-width: 479) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 767) {
    .container {
        width: 450px;
    }
}
@media screen and (max-width: 1199) {
    .container {
        width: 768px;
    }
}