.container {
    margin-right: 0;
    margin-left: 0;
    // width: 1200px;
    padding-right: 15px;
    padding-left: 15px;

    
}
@media screen and (min-width: 479px) {
    .container {
        margin-right: 0;
        margin-left: 0;
            }
    }