.logo {
    color: var(--accent-color);
    font-family: Raleway;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo-studio {
    color: #000000;
    font-family: Raleway;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.link-logo {
    text-decoration: none;
}