.primary-button {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;

    background-color: var(--accent-color);
    color: var(--primary-white-color);

    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer;
}